[_nghost-ng-c3427247325] .ds-card .ds-card__image { object-fit: cover; height: 160px; }
[_nghost-ng-c3427247325] .ds-card .card-content__text { max-height: none; padding: 0px; -webkit-line-clamp: 3; }
.partners__header[_ngcontent-ng-c3427247325] { line-height: 40px; margin: 20px 0px 40px; font-weight: 400; font-size: 32px; }
.partners__list[_ngcontent-ng-c3427247325] { display: flex; flex-wrap: wrap; gap: 27px; margin-bottom: 40px; }
.partners__list-item[_ngcontent-ng-c3427247325] { width: 352px; }
