[_nghost-ng-c2588072956] button:hover { background-color: rgb(220, 222, 224); cursor: pointer; }
[_nghost-ng-c2588072956] button .ds-icon-button { cursor: pointer; }
.partner-view__button[_ngcontent-ng-c2588072956] { display: flex; flex-direction: row-reverse; padding: 20px 40px; gap: 20px; margin: 0px 20px 20px 0px; }
.selected[_ngcontent-ng-c2588072956] { background-color: rgb(220, 222, 224); }
