.ngx-spinner-overlay[_ngcontent-ng-c2720958613] { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; }
.ngx-spinner-overlay[_ngcontent-ng-c2720958613] > div[_ngcontent-ng-c2720958613]:not(.loading-text) { top: 50%; left: 50%; margin: 0px; position: absolute; transform: translate(-50%, -50%); }
.loading-text[_ngcontent-ng-c2720958613] { position: absolute; top: 60%; left: 50%; transform: translate(-50%, -60%); }
