.ds-nav-bar[_ngcontent-ng-c3832168023] { width: 100%; height: 100%; padding: 24px; }
.ds-nav-bar__list[_ngcontent-ng-c3832168023] + .ds-nav-bar__img[_ngcontent-ng-c3832168023] { margin: 40px 0px 0px; }
.ds-nav-bar--s[_ngcontent-ng-c3832168023] { width: 224px; }
.ds-nav-bar--m[_ngcontent-ng-c3832168023] { width: 256px; }
.ds-nav-bar--l[_ngcontent-ng-c3832168023] { width: 336px; }
.ds-nav-bar--vertical[_ngcontent-ng-c3832168023] { background-color: rgb(var(--color-neutral-20)); }
.ds-nav-bar--horizontal[_ngcontent-ng-c3832168023] { display: flex; align-items: center; max-width: 100%; padding: 12px 32px; background-color: transparent; border-bottom: 1px solid rgb(var(--color-complementary-50)); }
.ds-nav-bar--hidden[_ngcontent-ng-c3832168023] { position: absolute; visibility: hidden; width: max-content; height: max-content; }
.ds-collapsed-nav-bar[_ngcontent-ng-c3832168023] { display: flex; align-items: center; padding: 2px 32px; border-bottom: 1px solid rgb(var(--color-complementary-50)); }
.ds-collapsed-nav-bar__progress[_ngcontent-ng-c3832168023] { margin: 0px 10px 0px 8px; }
.ds-collapsed-nav-bar__selected-step-title[_ngcontent-ng-c3832168023] { margin: 0px 0px 4px; font: 700 14px / 18px Lato, sans-serif, Helvetica, Arial; letter-spacing: 0.06px; color: rgb(var(--color-complementary-90)); }
.ds-collapsed-nav-bar__next-step-title[_ngcontent-ng-c3832168023] { font: 400 12px / 18px Lato, sans-serif, Helvetica, Arial; letter-spacing: 0.05px; color: rgb(var(--color-complementary-90)); }
