.footer[_ngcontent-ng-c1047381770] { background-color: rgb(var(--color-complementary-120)); color: rgb(255, 255, 255); padding: 15px 20px; font-family: Arial, sans-serif; margin-top: auto; }
.footer-content[_ngcontent-ng-c1047381770] { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 10px; }
.footer-links[_ngcontent-ng-c1047381770] { display: flex; gap: 20px; text-decoration: none; color: rgb(255, 255, 255); }
.footer[_ngcontent-ng-c1047381770] a[_ngcontent-ng-c1047381770] { color: rgb(255, 255, 255); text-decoration: none; }
.footer[_ngcontent-ng-c1047381770] a[_ngcontent-ng-c1047381770]:hover { text-decoration: underline; color: rgb(76, 47, 240); }
@media (width <= 600px) {
  .footer-content[_ngcontent-ng-c1047381770] { flex-direction: column; align-items: flex-start; }
  .footer-links[_ngcontent-ng-c1047381770] { flex-direction: column; gap: 10px; }
}
