[_nghost-ng-c615727841] { display: flex; flex-direction: column; align-items: flex-start; padding: 30px 0px 0px; }
[_nghost-ng-c615727841] .ds-select { width: 45%; }
.user-input__product-name[_ngcontent-ng-c615727841] { font-size: 15px; font-weight: 400; line-height: 24px; margin-top: 6px; padding-bottom: 20px; }
.user-input__description[_ngcontent-ng-c615727841] { margin-top: 38px; max-width: 410px; line-height: 20px; padding-bottom: 20px; }
.user-input__domain-existence[_ngcontent-ng-c615727841] { display: block; width: 45%; padding-bottom: 10px; }
.user-input__form-container[_ngcontent-ng-c615727841] { width: 80%; }
.user-input__form-field[_ngcontent-ng-c615727841] { padding-top: 5px; width: 45%; }
.user-input__form[_ngcontent-ng-c615727841] { display: flex; flex-wrap: wrap; justify-content: space-between; height: 150px; }
.user-input__container[_ngcontent-ng-c615727841] { display: flex; gap: 160px; }
.user-input__submit[_ngcontent-ng-c615727841] { display: flex; margin-top: 60px; }
@media screen and (width <= 1264px) {
  .user-input__container[_ngcontent-ng-c615727841] { gap: 80px; }
}
@media screen and (width <= 900px) {
  .user-input__container[_ngcontent-ng-c615727841] { flex-direction: column; }
}
