.agreements[_ngcontent-ng-c1685326121] { padding-top: 20px; }
.agreements__item[_ngcontent-ng-c1685326121] { display: flex; align-items: center; font-size: 12px; }
[_nghost-ng-c1685326121] .agreements__link > a { color: rgb(1, 74, 147); text-decoration: none; }
[_nghost-ng-c1685326121] .agreements__link > a:hover { text-decoration: underline; }
