@media (min-width: 1366px) {
  body { }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  body { }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body { }
}
@media (min-width: 640px) and (max-width: 767px) {
  body { }
}
@media (min-width: 320px) and (max-width: 639px) {
  body { }
}
@media (max-width: 700px) {
  body { }
}
@media (forced-colors: active) {
  body { }
}
