body {
  background-color: #f1f4f6;
}
.titletip {
  color: #666666;
}
.InputB,
.InputA,
.phonePsw,
.InputC {
  border-radius: 4px;
  border: 1px solid #d0d3d6;
}
.InputA > input {
  border-radius: 4px;
}
.InputB > input {
  border-radius: 4px;
}
.InputC > input {
  border-radius: 4px;
}
.InputD .firstName {
  border-radius: 4px;
  border: 1px solid #d0d3d6;
}
.InputD .lastName {
  border-radius: 4px;
  border: 1px solid #d0d3d6;
}
.phonePsw input {
  border-radius: 4px;
}
.resetPsw9 .createAccount input {
  border-radius: 4px;
  border: 1px solid #d0d3d6;
}
.lenovo-header-logo {
  background: url(../img/lenovo_header.svg) no-repeat left center;
}
.iconLanguage {
  background: url(../img/enH.png) no-repeat right center;
}
.hyperlink {
  color: #294e95;
}
/* id选择器权重高 */
#thirdRegBindExistingBtn {
  color: #294e95;
}
.createAccount > li > input,
.resetPsw9 .createAccount input {
  border-radius: 4px;
  border: 1px solid #d0d3d6;
}
/* 边框 */
/* .createAccount>li>input {

} */
/* .next {
     border-radius: 4px;
    background: #294E95;
} */
.Back,
.moreBack {
  background: #ffffff !important;
  color: #294e95 !important;
  border-color: #294e95 !important;
}
.Back:hover {
  color: #294e95;
  border-color: #294e95;
  background-color: #eaedf4 !important;
}
.next:active {
  background-color: #d4dcea !important;
  color: #294e95;
  border: 1px solid #294e95;
  box-shadow: 0px 2px 2px rgba(3, 22, 40, 0.2);
}
.nextTop10,
.next {
  border-radius: 4px;
  background: #294e95;
  /* background: #FFFFFF; */
}
.linkAccount > li > input {
  border-radius: 4px;
}
.font294E95 {
  color: #294e95;
}
.checkboxTip {
  z-index: 10;
}
.contentWrap {
  border-radius: 12px;
  box-shadow: 0px 4px 18px 1px rgba(211, 222, 231, 0.38);
}
.footer-left select {
  color: #666666;
}
.footer-left {
  color: #666666 !important;
}
.footer-left a.id-select-name{
  color: #666666 !important;
}
.linkDiyColor {
  color: #294e95;
}
.footer-left select option {
  color: #333;
}
.lenovoid-text,
.copyright-text {
  color: #8e8e8e;
}
.footer ul li a {
  color: #666666 !important;
}
.InputA:hover,
.InputB:hover,
.InputC:hover,
.InputD input:hover,
.captchaInput:hover,
.createAccount > li > input:hover,
.phonePsw:hover,
.registerClass11 .createAccount .phonePsw:hover,
.resetPsw9 .createAccount .InputA:hover {
  border: 1px solid #294e95;
}
.checkboxA {
  color: #294e95;
}
/* .registerClass9 button:hover */
.next:hover {
  background-color: #eaedf4 !important;
  color: #294e95;
  border: 1px solid #294e95;
}
.next:active {
  background-color: #d4dcea !important;
  color: #294e95;
  border: 1px solid #294e95;
  box-shadow: 0px 2px 2px rgba(3, 22, 40, 0.2);
}
.hyperlink:hover,
.toLogin:hover {
  color: #294e95;
}
.btn-div .registerUrl:hover {
  background-color: #f4f6fa;
  color: #294e95;
}
#emailAutoLoginState:checked::after,
#ageAutoLoginStateEm:checked::after,
#checkoutsation:checked::after,
#checkoutsation:checked::after,
#ageAutoLoginStatePhone:checked::after {
  background: #294e95;
}

/* @media screen and (min-width: 601px) {
  .wrap-left {
    width: 670px;
    height: calc(100% - 70px) !important;
    background: url(../img/decorate.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
  }
} */
/* rem单位适配 */
/* @media screen and (min-width: 601px) and (max-width: 1440px) {
  .wrap-left {
    width: 6.7rem;
    height: calc(100% - 0.7rem) !important;
  }
}
@media (min-width: 1300px) and (max-width: 1600px) and (max-height: 750px) {
  .wrap-left {
    width: 6.7rem;
    height: calc(100% - 0.4rem) !important;
  }
} */

@media screen and (max-width: 601px) {
  .wrapBg-topLogo {
    display: block !important;
    height: 34px;
    text-align: center;
    margin-top: 30px;
  }
  .wrapBg-topLogo > img {
    height: 34px;
  }
  .contentWrap{
    position: static!important;
  }
}
